[Unit]
Description=Count
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker pull hendry/count
ExecStartPre=-/usr/bin/docker rm count
ExecStart=/usr/bin/docker run --rm --name count -p 9000:9000 hendry/count
ExecStartPre=-/usr/bin/docker rm -f count
Restart=always

[Install]
WantedBy=multi-user.target
