[Unit]
Description=Count
Before=caddy.service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
User=core
ExecStartPre=-/usr/bin/docker build --no-cache -t count github.com/kaihendry/count
ExecStart=/usr/bin/docker run --rm --name count -p 9000:9000 count
ExecStop=/usr/bin/docker stop count
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
