<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1">
<script src="static/main.js"></script>
<title>Count: {{ .Count }}</title>
<style>
body { background-color: grey; font-family: Georgia; }
</style>
</head>
<body>
<button onClick="f(this)">{{ .Count }}</button>

<dl>
{{range $key, $value := .Env -}}
{{ if eq $key "COMMIT" -}}
<dt>{{ $key }}</dt><dd><a href="https://github.com/kaihendry/count/commit/{{ $value }}">{{ $value }}</a></dd>
{{else}}
<dt>{{ $key }}</dt><dd>{{ $value }}</dd>
{{- end}}
{{- end}}
</dl>

<h3>Request Header</h3>
<dl>
{{range $key, $value := .Header -}}
<dt>{{ $key }}</dt><dd>{{ $value }}</dd>
{{end}}
</dl>
<p><a href=https://github.com/kaihendry/count>Source code</a></p>
</body>
</html>
